<!--little music icons and little speech icons popping up according to the classifier-->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Binary Audio Classification</title>
    <link rel="stylesheet" type="text/css" href="../static/styles.css" />
    <script src="../static/script.js"></script>
  </head>
  <body>
    <div class="container">
      <div id="app">
        <div class="pause">
          <div class="line line_1"></div>
          <div class="line line_2"></div>
        </div>
        <div class="play active">
          <div class="line line_1"></div>
          <div class="line line_2"></div>
          <div class="line line_3"></div>
        </div>
      </div>
    </div>
  </body>
</html>
